


/* Table of Content
==================================================
	#Homepage Styles
	#Page Styles
	#Media Queries
	#Font-Face */
:root{
	--header-height: 103px;
	--dark-pink:#962a3f;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
@font-face {
	font-family: 'Rupee';
	src: url('custom/Rupee.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'AWConqueror Light';
	src: url('custom/AWConqueror-Std-Didot-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'AWConqueror';
	src: url('custom/AWConqueror-Std-Didot.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
html, body, #wrapper {
	height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
 } 

html {
	scroll-behavior: smooth;
}
#main{
	  width:100%;
	  padding:0;
	  margin:0 auto;
	  /*padding-top: 80px;*/
	}
*{
	padding:0;
	margin:0;
	/*transition: all 0.3s;*/
}

table{
	width: 100%;
}
table, th, td {
    border: 1px solid #1a5f80;
    border-collapse: collapse;    
}
th, td {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
th {
    background-color: #104660;
    color: #fff;
}

a{
	cursor: pointer;
	display: inline-block;
}

span{
	display: inline-block;
}

p{
	font-size: clamp(14px, 1.27vw, 25px);
	line-height: 1.6;
	color: #fff;
	padding: 0 0 15px 0;
}
li{	
	font-size: clamp(14px, 1.27vw, 25px);
	line-height: 1.6;
	color: #000;
}

/* #Grid system
================================================== */
.contain_90{
	width: 90%;
	margin: auto;
}
.container{
	width:1170px;
	margin:0 auto;
	}
.container:before, .container:after, .row:before, .row:after{
	content:"";
	display:table;
	}
.container:after, .row:after{clear:both;}
.row{
	margin-left:-10px;
	margin-right:-10px;
	}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
	position:relative;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	}

.col-sm-12{width:100%;}
.col-sm-11{width:91.66666667%;}
.col-sm-10{width:83.33333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666667%;}
.col-sm-7{width:58.33333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666667%;}
.col-sm-1{width:8.33333333%;}
.flt-right { float: right; }
.flt-left { float: left; }

.clr{
	clear:both;
	}

/* =Header
-------------------------------------------------------------- */
header {
	width: 100%;
	position: fixed;
	top:0px;
	left: 0;
	z-index: 999;
	padding: 40px 0;
	background: #ffffff00;
}
header .logo {
	width:15%;
	float: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding: 0 0 0 0;
}
header nav {
	display: inline-block;
	float: right;
	padding: 0% 0% 0% 0%;
	background-color: transparent;
	margin-top: 0px;
	width: unset;
}
header.smaller {
	top:0;
	background-color: transparent;
	background:#e9535f;
	padding:5px 0;
}
header.smaller .logo {
	/*width:14%;*/
}
header.smaller nav {
	/*display: inline-block;
	float: left;
	padding:0% 0% 0% 7%;
	margin-top: 1.5%;*/
}
header .inner_container{
	display: flex;
	align-items: center;
	justify-content: center;
}
header .inner_container .c2a_btn{
	padding: 0 0 0 15px;
}

.ace-responsive-menu{
	display: flex;
    align-items: center;
    justify-content: center;
}
.ace-responsive-menu li{
	position: relative;
}
.ace-responsive-menu li::before{
	--size: 60%;
    position: absolute;
    content: '';
    right: 0;
    top: calc(50% - (var(--size) / 2));
    height: var(--size);
    width: 1px;
    background-color: #fff;
}
.ace-responsive-menu li:last-child::before{
	/*display: none;*/
}
.ace-responsive-menu li a{
	text-transform: none;
    font-size: 17px;
    color: #fff;
    padding: 0 15px;
    font-weight: 200;
}
header.smaller .ace-responsive-menu li a{
	font-size: 15px;
}

.heading{
	font-size: 4.5vw;
    line-height: 1.2;
    font-size: clamp(30px, 4.5vw, 80px);
    font-family: 'AWConqueror Light';
    color: #fff;
    padding: 0 0 clamp(20px, 2.5vw, 40px) 0;
}
.sub_heading{
	font-size: 4.5vw;
    line-height: 1.2;
    font-size: clamp(22px, 3vw, 60px);
    font-family: 'AWConqueror Light';
    color: #fff;
    padding: 0 0 clamp(20px, 2.5vw, 40px) 0;
    /*margin: clamp(-20px, -1vw, -40px) 0 0 0;*/
    color: #ee0047 !important;
    font-style: italic;
}
.heading + .sub_heading{
    margin: clamp(-20px, -1vw, -40px) 0 0 0;
}
.red{
	color: #ee0047 !important;
}
.black{
	color: #000;
}
section{
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 5vw 0;
	position: relative;
}
section .inner_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.primary_btn{
	font-size: 22px;
    color: #000;
    background: #fff;
    padding: 5px 40px;
    border-radius: 100px;
    font-weight: 500;
    margin: 20px 0 0 0;
}
.pink_btn{
	background: #e9535f;
    color: #fff;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #fff;
    box-shadow: inset 0 0 0px 1px #fff, inset 0 0 5px 20px #e9535f, inset 0 0 5px 20px #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.pink_btn:hover{
	color: #e9535f;
    box-shadow: inset 0 0 0px 1px #fff, inset 0 0 0px 0px #e9535f, inset 0 0 5px 20px #ffffff;
    /*transform: translateY(-5px);*/
}
.pink_btn img{
	filter: brightness(0) invert(1);
	width: 20px;
	margin: 0 0 0 5px;
}
.pink_btn:hover img{
	filter: brightness(0) saturate(100%) invert(39%) sepia(81%) saturate(1355%) hue-rotate(326deg) brightness(97%) contrast(88%);
}
.width_50{
	width: 50%;
}
.hero{
	background: url(../images/bg/webp/hero.webp) no-repeat;
	background-size: cover;
	background-position: center;
	padding: var(--header-height) 0 0 0;
}
.hero .heart{
	position: absolute;
    left: 6vw;
    top: 5vw;
    width: 11vw;
    /*transform: rotate(-45deg);*/
}
.hero .heart img{
    transform: rotate(-45deg);
}
.hero .text_box{
	opacity: 0;
}
.hero .img_box{
	opacity: 0;
}
.hero .img_box img{
	max-height: calc(100vh - var(--header-height));
}
.about{
	background: url(../images/bg/webp/red-roses.webp) no-repeat;
	background-size: cover;
	background-position: center;
}
.about .heart{
	position: absolute;
    right: 6vw;
    top: -10vw;
    width: 16vw;
}
.about .heart img{
    transform: rotate(34deg);
}
.about .right_pane{
	position: relative;
}
.about .right_pane .img_box{
	text-align: center;
	filter: drop-shadow(0px 0px 10px #000);
}
.about .right_pane .img_box img{
	max-height: 90vh;
}
.about .right_pane .overlay_text{
	position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: clamp(14px, 1.5vw, 25px);
    line-height: 1.4;
    color: #fff;
    font-weight: 200;
}
.about .right_pane .heart_left{
	position: absolute;
    left: 22%;
    bottom: 14%;
    width: 7.5vw;
    z-index: 2;
}
.about .right_pane .heart_right{
	position: absolute;
    right: -4%;
    top: 19%;
    width: 7.5vw;
    z-index: 2;
}
.about .right_pane .line_left{
	position: absolute;
    left: 26%;
    top: 79%;
    width: 16vw;
    z-index: 1;
}
.about .right_pane .line_right{
	position: absolute;
    right: -13%;
    top: 26%;
    width: 7.2vw;
    z-index: 1;
}
.why_love{
	background: url(../images/bg/webp/white-bg.webp) no-repeat;
	background-size: cover;
	background-position: center;
}
.why_love .heart{
	position: absolute;
    left: 5vw;
    top: -4vw;
    width: 10vw;
}
.why_love .heart img{
    transform: rotate(-45deg);
}
.why_love .text_box ul{
	padding: 0 0 0 20px;
}
.why_love .text_box ul li{
	list-style: disc;
}
.why_love .img_box{
	padding: 5vh 0;
	visibility: hidden;
	opacity: 0;
}
.why_love .img_box img{
	max-height: 100vh;
}
.why_love .right_pane{
	position: relative;
}
.why_love .right_pane .img_1{
	position: absolute;
    left: 5%;
    top: 6%;
    width: 25vw;
}
.why_love .right_pane .img_2{
	position: absolute;
    left: 40.5%;
    top: 21.5%;
    width: 26.5vw;
}
.why_love .right_pane .img_3{
	position: absolute;
    left: 0%;
    bottom: 6%;
    width: 32vw;
}
/*book_section*/
.book_section{
	position: relative;
}
.book_section .heart{
	position: absolute;
    right: 3vw;
    top: -6vw;
    width: 16vw;
}
.book_section .heart img{
    transform: rotate(34deg);
}
.meet_the_poet{
	background: url(../images/bg/webp/white-bg.webp) no-repeat;
	background-size: cover;
	background-position: center;
}
.meet_the_poet .heart{
	position: absolute;
    left: 5vw;
    top: -4vw;
    width: 10vw;
}
.meet_the_poet .heart img{
    transform: rotate(-45deg);
}
.meet_the_poet .text_box .text{
	width: 80%;
}
.meet_the_poet .right_pane .img_box{
	text-align: center;
}
.meet_the_poet .right_pane .img_box img{
	max-height: 90vh;
}
.glimpse{
	background: url(../images/bg/webp/red-roses.webp) no-repeat;
	background-size: cover;
	background-position: center;
}
.glimpse .heart{
	position: absolute;
    right: 5vw;
    top: -6vw;
    width: 16vw;
}
.glimpse .heart img{
    transform: rotate(34deg);
}
.glimpse .right_pane{
	padding: 0 50px;
}
.glimpse .glimpse_slider_wrapper{
	background: #fff;
	padding: 2vw 2vw 2vw 2vw;
}
.glimpse .glimpse_slider_wrapper .heart_icon{
	text-align: right;
	padding: 2vw 1vw 0 0;
}
.glimpse .glimpse_slider_wrapper .heart_icon img{
	width: 3vw;
}
.glimpse .glimpse_slider_wrapper .item_box .img_box{
}
.glimpse .glimpse_slider_wrapper .item_box .img_box a{
	display: block;
	padding: 82% 0 0 0;
	position: relative;
}
.glimpse .glimpse_slider_wrapper .item_box .img_box a.youtube_video::before{
	--size: 50px;
	position: absolute;
    content: '';
    left: calc(50% - (var(--size) / 2));
    top: calc(50% - (var(--size) / 2));
    width: var(--size);
    height: var(--size);
    background: url(../images/icons/youtube.png) no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
}
.glimpse .glimpse_slider_wrapper .item_box .img_box img{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.owl-carousel.owl-theme .owl-nav{
	margin: 0;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]{
	--size: 50px;
    padding: 0;
    margin: 0;
    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    font-size: calc(var(--size) * 1.3);
    position: absolute;
    left: calc((var(--size) * -1) - 2vw - 5px);
    top: calc(50% - (var(--size) / 2));
    background: #fff;
    color: var(--dark-pink);
}
.owl-carousel.owl-theme .owl-nav [class*=owl-].owl-next{
	left: unset;
	right: calc((var(--size) * -1) - 2vw - 5px);
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover{
	background: var(--dark-pink);
    color: #fff;
    outline: 1px solid #fff;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-] span{
	line-height: 0.3;
    padding: 0 0 0.2em 0;
    font-family: FontAwesome;
}

/*about_positions*/
.about_positions{
	background: url(../images/bg/webp/white-bg.webp) no-repeat;
	background-size: cover;
	background-position: center;
}
.about_positions .heart{
	position: absolute;
    left: 5vw;
    top: -4vw;
    width: 10vw;
}
.about_positions .heart{
    transform: rotate(-45deg);
}
.about_positions .inner_container{
	text-align: center;
	display: block;
}
.about_positions .inner_container .top_image{
	width: 16%;
	margin: auto;
}
.about_positions .inner_container .heading{
	padding: clamp(20px, 3vw, 40px) 0 clamp(20px, 2.5vw, 40px) 0;
}
.why_gift{
	background: url(../images/bg/webp/red-roses.webp) no-repeat;
	background-size: cover;
	background-position: center;
}
.why_gift .heart{
	position: absolute;
    right: 5vw;
    top: -6vw;
    width: 16vw;
}
.why_gift .heart{
    transform: rotate(34deg);
}

/*footer*/
footer{
	background: url(../images/bg/webp/hero.webp) no-repeat;
	background-size: cover;
	background-position: top;
	padding: 5vw 0;
	text-align: center;
	color: #fff;
	position: relative;
}
footer .heart{
	position: absolute;
    left: 6vw;
    top: 5vw;
    width: 12vw;
}
footer .heart{
    transform: rotate(-45deg);
}
footer .price_band{
	width: 50%;
	margin: auto;
}
footer .offer_valid{
	font-size: 1.4vw;
	font-weight: 500;
	padding: 0 0 1.5vw;
}
footer .includes_premium{
	font-size: 2vw;
}
footer .order_now{
	font-size: 2vw;
    font-weight: 500;
    font-style: italic;
    padding: 0 0 2vw;
}
footer .c2a_btn{
    padding: 0 0 2vw;
}
footer .last_text{
	font-size: 1.7vw;
}

/*@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    14% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    42% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
*/
@keyframes heartbeat-real {
  0% {
    transform: scale(1);
  }

  /* First strong beat (LUB) */
  10% {
    transform: scale(1.08);
  }

  20% {
    transform: scale(1);
  }

  /* Second weaker beat (DUB) */
  30% {
    transform: scale(1.04);
  }

  40% {
    transform: scale(1);
  }

  /* Rest phase */
  100% {
    transform: scale(1);
  }
}


.heartBeat {
    -webkit-animation-name: heartbeat-real;
    animation-name: heartbeat-real;
    animation-duration: 2.2s;
    -webkit-animation-duration: calc(var(--animate-duration)*1.3);
    animation-duration: calc(var(--animate-duration)*1.3);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

/*thank_you_page*/
.thank_you_page{
	min-height: calc(100vh - 473.16px);
    padding: var(--header-height) 0 0 0;


	background: url(../images/bg/webp/hero.webp) no-repeat;
	background-size: cover;
	background-position: center;
	padding: var(--header-height) 0 0 0;
}
.thank_you_page .inner_container{
	padding: 5vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.thank_you_page .inner_container .heading + .sub_heading{
	color: #fff !important;
}
.follow_us_instagram{
	padding: 15px 0 0 0;
}


/*body_overlay*/
.body_overlay {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  /*display: none;*/
  transition: unset;
}
.body_overlay .inner_box{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.request_overlay_box {
  width: 600px;
  max-width: 90%;
  background: #fff;
  padding: 30px 40px;
  position: relative;
}
.request_overlay_box .form_wrapper .heading{
	padding: 0 0 10px;
	margin: 0 0 15px;
}
.request_overlay_box .form_wrapper p{
	text-align: center;
	padding: 0 0 20px;
}
.request_overlay_box .form_wrapper form .input_box {
  padding: 0 0 10px;
}
.request_overlay_box .form_wrapper form .input_box input[type=text] {
  background: #f8f5ee;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 10px;
}
.request_overlay_box .form_wrapper form .input_box select {
  background: #f8f5ee;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 10px;
}
.request_overlay_box .form_wrapper form .input_box textarea {
  background: #f8f5ee;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 10px;
}
.request_overlay_box .form_enquire_now{
  width: 98%;
  margin: 0 auto;
  padding: 2% 0%;
}
.request_overlay_box .submit_box.right{
	text-align: left;
}
.close_overlay {
  position: absolute;
  right: -5px;
  top: -25px;
  width: 32px;
  height: 32px;
}
.close_overlay:hover {
  opacity: 1;
}
.close_overlay:before, .close_overlay:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #fff;
}
.close_overlay:before {
  transform: rotate(45deg);
}
.close_overlay:after {
  transform: rotate(-45deg);
}
.alert-danger{
	color: red;
	font-size: 12px;
}

.body_overlay .form_wrapper{
	text-align: center;
}
.body_overlay .form_wrapper form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.body_overlay .form_wrapper form [name*=user_mobile]{
	height: 40px;
	width: 300px;
	max-width: 90%;
	padding: 10px;
	font-size: 15px;
	outline: none;
	text-align: center;
}
.body_overlay .form_wrapper form button{
	font-size: 16px;
	padding: 5px 20px;
	font-weight: 500;
	margin: 15px 0 0 0;
	text-transform: uppercase;
	border: 1px solid;
}



.spinners{
	position: relative;
	cursor: not-allowed;
}
.spinners::before{
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: inherit;
	color: #fff;
	z-index: 10;
	border-radius: inherit;
}
.spinners::after{
	position: absolute;
	content: '';
	left: calc(50% - 10px);
	top: calc(50% - 10px);
	width: 20px;
	height: 20px;
	border: 2px solid transparent;
	border-radius: 50%;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
	z-index: 11;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}