


/* Table of Content
==================================================
	#Homepage Styles
	#Page Styles
	#Media Queries
	#Font-Face */
:root{
	--header-height: 103px;
	--dark-pink:#962a3f;
}
@font-face {
	font-family: 'Rupee';
	src: url('custom/Rupee.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'AWConqueror Light';
	src: url('custom/AWConqueror-Std-Didot-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'AWConqueror';
	src: url('custom/AWConqueror-Std-Didot.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
html, body, #wrapper {
	height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
 } 

body > #wrapper {height: auto; min-height: 100%; background:#fff ;
	}
#main{
	  width:100%;
	  padding:0;
	  margin:0 auto;
	  /*padding-top: 80px;*/
	}
*{
	padding:0;
	margin:0;
	}

table{
	width: 100%;
}
table, th, td {
    border: 1px solid #1a5f80;
    border-collapse: collapse;    
}
th, td {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
th {
    background-color: #104660;
    color: #fff;
}

a{
	cursor: pointer;
	display: inline-block;
}

span{
	display: inline-block;
}

p{
	font-size: clamp(14px, 1.27vw, 25px);
	line-height: 1.6;
	color: #fff;
	padding: 0 0 15px 0;
}

/* #Grid system
================================================== */
.contain_90{
	width: 90%;
	margin: auto;
}
.container{
	width:1170px;
	margin:0 auto;
	}
.container:before, .container:after, .row:before, .row:after{
	content:"";
	display:table;
	}
.container:after, .row:after{clear:both;}
.row{
	margin-left:-10px;
	margin-right:-10px;
	}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
	position:relative;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	}

.col-sm-12{width:100%;}
.col-sm-11{width:91.66666667%;}
.col-sm-10{width:83.33333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666667%;}
.col-sm-7{width:58.33333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666667%;}
.col-sm-1{width:8.33333333%;}
.flt-right { float: right; }
.flt-left { float: left; }

.clr{
	clear:both;
	}

/* =Header
-------------------------------------------------------------- */
header {
	width: 100%;
	position: fixed;
	top:0px;
	left: 0;
	z-index: 999;
	padding: 40px 0;
	background: #ffffff00;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}
header .logo {
	width:15%;
	float: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding: 0 0 0 0;
}
header nav {
	display: inline-block;
	float: right;
	padding: 0% 0% 0% 0%;
	background-color: transparent;
	margin-top: 0px;
	width: 100%;
}
header.smaller {
	top:0;
	background-color: transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background:#fff;
	padding: 0%;
}
header.smaller .logo {
	width:14%;
}
header.smaller nav {
	display: inline-block;
	float: left;
	padding:0% 0% 0% 7%;
	margin-top: 1.5%;
}

.ace-responsive-menu{
	display: flex;
    align-items: center;
    justify-content: center;
}
.ace-responsive-menu li{
	position: relative;
}
.ace-responsive-menu li::before{
	--size: 60%;
    position: absolute;
    content: '';
    right: 0;
    top: calc(50% - (var(--size) / 2));
    height: var(--size);
    width: 1px;
    background-color: #fff;
}
.ace-responsive-menu li:last-child::before{
	display: none;
}
.ace-responsive-menu li a{
	text-transform: none;
    font-size: 18px;
    color: #fff;
    padding: 0 15px;
    font-weight: 200;
}

section{
	min-height: 100vh;
	display: flex;
	align-items: center;
}
section .inner_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.width_50{
	width: 50%;
}
.hero{
	background: url(../images/bg/hero.png) no-repeat;
	background-size: cover;
	background-position: center;
	padding: var(--header-height) 0 0 0;
}
.hero .text{
	width: 62%;
}
.hero .img_box img{
	max-height: calc(100vh - var(--header-height));
}
.heading{
	font-size: 4.5vw;
    line-height: 1.2;
    font-size: clamp(25px, 4.5vw, 60px);
    font-family: 'AWConqueror Light';
    color: #fff;
    padding: 0 0 clamp(20px, 2.5vw, 40px) 0;
}