


/* Table of Content
==================================================
	#Homepage Styles
	#Page Styles
	#Media Queries
	#Font-Face */
:root{
	--header-height: 103px;
	--dark-pink:#962a3f;
}
@font-face {
	font-family: 'Rupee';
	src: url('custom/Rupee.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'AWConqueror Light';
	src: url('custom/AWConqueror-Std-Didot-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'AWConqueror';
	src: url('custom/AWConqueror-Std-Didot.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
html, body, #wrapper {
	height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
 } 

body > #wrapper {height: auto; min-height: 100%; background:#fff ;
	}
#main{
	  width:100%;
	  padding:0;
	  margin:0 auto;
	  /*padding-top: 80px;*/
	}
*{
	padding:0;
	margin:0;
	}

table{
	width: 100%;
}
table, th, td {
    border: 1px solid #1a5f80;
    border-collapse: collapse;    
}
th, td {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
th {
    background-color: #104660;
    color: #fff;
}

a{
	cursor: pointer;
	display: inline-block;
}

span{
	display: inline-block;
}

p{
	font-size: clamp(14px, 1.27vw, 25px);
	line-height: 1.6;
	color: #fff;
	padding: 0 0 15px 0;
}
li{	
	font-size: clamp(14px, 1.27vw, 25px);
	line-height: 1.6;
	color: #000;
}

/* #Grid system
================================================== */
.contain_90{
	width: 90%;
	margin: auto;
}
.container{
	width:1170px;
	margin:0 auto;
	}
.container:before, .container:after, .row:before, .row:after{
	content:"";
	display:table;
	}
.container:after, .row:after{clear:both;}
.row{
	margin-left:-10px;
	margin-right:-10px;
	}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
	position:relative;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	}

.col-sm-12{width:100%;}
.col-sm-11{width:91.66666667%;}
.col-sm-10{width:83.33333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666667%;}
.col-sm-7{width:58.33333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666667%;}
.col-sm-1{width:8.33333333%;}
.flt-right { float: right; }
.flt-left { float: left; }

.clr{
	clear:both;
	}

/* =Header
-------------------------------------------------------------- */
header {
	width: 100%;
	position: fixed;
	top:0px;
	left: 0;
	z-index: 999;
	padding: 40px 0;
	background: #ffffff00;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}
header .logo {
	width:15%;
	float: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding: 0 0 0 0;
}
header nav {
	display: inline-block;
	float: right;
	padding: 0% 0% 0% 0%;
	background-color: transparent;
	margin-top: 0px;
	width: 100%;
}
header.smaller {
	top:0;
	background-color: transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background:#fff;
	padding: 0%;
}
header.smaller .logo {
	width:14%;
}
header.smaller nav {
	display: inline-block;
	float: left;
	padding:0% 0% 0% 7%;
	margin-top: 1.5%;
}

.ace-responsive-menu{
	display: flex;
    align-items: center;
    justify-content: center;
}
.ace-responsive-menu li{
	position: relative;
}
.ace-responsive-menu li::before{
	--size: 60%;
    position: absolute;
    content: '';
    right: 0;
    top: calc(50% - (var(--size) / 2));
    height: var(--size);
    width: 1px;
    background-color: #fff;
}
.ace-responsive-menu li:last-child::before{
	display: none;
}
.ace-responsive-menu li a{
	text-transform: none;
    font-size: 18px;
    color: #fff;
    padding: 0 15px;
    font-weight: 200;
}

.heading{
	font-size: 4.5vw;
    line-height: 1.2;
    font-size: clamp(25px, 4.5vw, 80px);
    font-family: 'AWConqueror Light';
    color: #fff;
    padding: 0 0 clamp(20px, 2.5vw, 40px) 0;
}
.sub_heading{
	font-size: 4.5vw;
    line-height: 1.2;
    font-size: clamp(20px, 3vw, 60px);
    font-family: 'AWConqueror Light';
    color: #fff;
    padding: 0 0 clamp(20px, 2.5vw, 40px) 0;
    /*margin: clamp(-20px, -1vw, -40px) 0 0 0;*/
    color: #ee0047 !important;
    font-style: italic;
}
.heading + .sub_heading{
    margin: clamp(-20px, -1vw, -40px) 0 0 0;
}
.red{
	color: #ee0047 !important;
}
.black{
	color: #000;
}
section{
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 5vw 0;
	position: relative;
}
section .inner_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.primary_btn{
	font-size: 22px;
    color: #000;
    background: #fff;
    padding: 5px 40px;
    border-radius: 100px;
    font-weight: 500;
    margin: 20px 0 0 0;
}
.width_50{
	width: 50%;
}
.hero{
	background: url(../images/bg/hero.png) no-repeat;
	background-size: cover;
	background-position: center;
	padding: var(--header-height) 0 0 0;
}
.hero .heart{
	position: absolute;
    left: 6vw;
    top: 5vw;
    width: 11vw;
    transform: rotate(-45deg);
}
.hero .img_box img{
	max-height: calc(100vh - var(--header-height));
}
.about{
	background: url(../images/bg/red-roses.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.about .heart{
	position: absolute;
    right: 6vw;
    top: -10vw;
    width: 16vw;
    transform: rotate(34deg);
}
.about .right_pane{
	position: relative;
}
.about .right_pane .img_box{
	text-align: center;
}
.about .right_pane .img_box img{
	max-height: 90vh;
}
.about .right_pane .overlay_text{
	position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.6vw;
    line-height: 1.4;
    color: #fff;
    font-weight: 200;
}
.about .right_pane .heart_left{
	position: absolute;
    left: 22%;
    bottom: 14%;
    width: 7.5vw;
    z-index: 2;
}
.about .right_pane .heart_right{
	position: absolute;
    right: -4%;
    top: 19%;
    width: 7.5vw;
    z-index: 2;
}
.about .right_pane .line_left{
	position: absolute;
    left: 26%;
    top: 79%;
    width: 16vw;
    z-index: 1;
}
.about .right_pane .line_right{
	position: absolute;
    right: -13%;
    top: 26%;
    width: 7.2vw;
    z-index: 1;
}
.why_love{
	background: url(../images/bg/white-bg.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.why_love .text_box ul{
	padding: 0 0 0 20px;
}
.why_love .text_box ul li{
	list-style: disc;
}
.why_love .img_box{
	padding: 5vh 0;
}
.why_love .img_box img{
	max-height: 100vh;
}
.meet_the_poet{
	background: url(../images/bg/white-bg.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.meet_the_poet .text_box .text{
	width: 80%;
}
.meet_the_poet .right_pane .img_box{
	text-align: center;
}
.meet_the_poet .right_pane .img_box img{
	max-height: 90vh;
}
.glimpse{
	background: url(../images/bg/red-roses.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.glimpse .right_pane{
	padding: 0 50px;
}
.glimpse .glimpse_slider_wrapper{
	background: #fff;
	padding: 2vw 2vw 2vw 2vw;
}
.glimpse .glimpse_slider_wrapper .heart_icon{
	text-align: right;
	padding: 2vw 1vw 0 0;
}
.glimpse .glimpse_slider_wrapper .heart_icon img{
	width: 3vw;
}

.owl-carousel.owl-theme .owl-nav{
	margin: 0;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]{
	--size: 50px;
    padding: 0;
    margin: 0;
    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    font-size: calc(var(--size) * 1.3);
    position: absolute;
    left: calc((var(--size) * -1) - 2vw - 5px);
    top: calc(50% - (var(--size) / 2));
    background: #fff;
    color: var(--dark-pink);
}
.owl-carousel.owl-theme .owl-nav [class*=owl-].owl-next{
	left: unset;
	right: calc((var(--size) * -1) - 2vw - 5px);
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover{
	background: var(--dark-pink);
    color: #fff;
    outline: 1px solid #fff;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-] span{
	line-height: 0.3;
    padding: 0 0 0.2em 0;
    font-family: FontAwesome;
}

/*about_positions*/
.about_positions{
	background: url(../images/bg/white-bg.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.about_positions .inner_container{
	text-align: center;
	display: block;
}
.about_positions .inner_container .top_image{
	width: 16%;
	margin: auto;
}
.about_positions .inner_container .heading{
	padding: clamp(20px, 3vw, 40px) 0 clamp(20px, 2.5vw, 40px) 0;
}
.why_gift{
	background: url(../images/bg/red-roses.png) no-repeat;
	background-size: cover;
	background-position: center;
}

/*footer*/
footer{
	background: url(../images/bg/hero.png) no-repeat;
	background-size: cover;
	background-position: top;
	padding: 5vw 0;
	text-align: center;
	color: #fff;
}
footer .price_band{
	width: 50%;
	margin: auto;
}
footer .offer_valid{
	font-size: 1.4vw;
	font-weight: 500;
	padding: 0 0 1.5vw;
}
footer .includes_premium{
	font-size: 2vw;
}
footer .order_now{
	font-size: 2vw;
    font-weight: 500;
    font-style: italic;
    padding: 0 0 2vw;
}
footer .last_text{
	font-size: 1.7vw;
}